body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

#search {
    width: 960px;
    border: 1px 0 1px 1px;
    border-color: lightgrey;
}

.jumbotron {
    width: 100%;
}

div.row button {
    height: 240px;
    color: white;
    background-color: blue;
}

div.row button:hover {
    color: white;
    background-color: red;
}