@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <button class="col-md-3" ng-mouseover="changeModifier('chopped and screwed', 'https://i.ytimg.com/vi/ul6dlYxS7wY/maxresdefault.jpg')">
        <h2>Chopped<br/>&<br/>Screwed</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('instrumental', 'http://i0.wp.com/www.autismdailynewscast.com/wp-content/uploads/2013/10/mouth-tape.jpg')">
        <h2>Instrumental</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('acapella')">
        <h2>Acapella</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('remix')">
        <h2>Remix</h2>
    </button>

</div>

<div class="row">
    <button class="col-md-3" ng-mouseover="changeModifier('live')">
        <h2>Live</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('glee')">
        <h2>Glee</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('bootleg')">
        <h2>Bootleg</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('demo')">
        <h2>Demo</h2>
    </button>

</div>

<div class="row">
    <button class="col-md-3" ng-mouseover="changeModifier('pitch up')">
        <h2>Pitched Up</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('pitch down')">
        <h2>Pitched Down</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('dj set')">
        <h2>DJ Set</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('')">
        <h2>Web Hosting</h2>
    </button>

</div>

<div class="row">
    <button class="col-md-3" ng-mouseover="changeModifier('')">
        <h2>Getting started</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('')">
        <h2>Get more libraries</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('')">
        <h2>Web Hosting</h2>
    </button>

    <button class="col-md-3" ng-mouseover="changeModifier('')">
        <h2>Web Hosting</h2>
    </button>

</div>